{% extends "base.html" %}
{% block title %}Películas - Películas favoritas
{% endblock %}
{% block head %}
{{super()}}
{% endblock %}
{% block body %}
    <div>
        <ul>
            <li>Listar películas por <a href="/por_titulo">titulo</a></li>
            <li>Listar películas por <a href="/por_anio">año</a></li>
            <li>Listar películas por <a href="/por_direccion">dirección</a></li>
            <li>Buscar películas</li>
        </ul>
    </div>
    <div>
        <h2>Búsqueda</h2>
        <form action="/buscarpelicula" method="POST">
            <label>Buscar:</label>
            <input type="text" name="texto">
            <input type="submit" value="buscar">
        </form>
    </div>
{% endblock %}